/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*My Code */
body{background-color: #9A9A9A;
}

.header {
  background-color:#f2f2f2;
  text-align: center;
  width:100%;
  min-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.header h1 {
  border-bottom: solid black 1px;
  font-size: 60px;
  font-family: arial, sans-serif;
  padding-bottom: 10px;
  padding-top: 10px;
}
.header h2 {
  background-color: #f1f1f1;
  font-size: 40px;
  font-family: arial, sans-serif;
  padding-top: 10px;
}

.wrapper {
  background-color:#dfdfdf;
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  width:100%;
  max-width: 1300px;
  margin-top:10px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.img-pro1 {
  flex-basis: 50%;
  max-width:300px;
  height:300px;
  margin:0px;
  margin-left:5px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-image: url(img/Lars.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.img-pro2 {
  flex-basis: 50%;
  max-width:300px;
  height:300px;
  margin:0px;
  margin-left:5px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-image: url(img/James.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.img-pro3 {
  flex-basis: 50%;
  max-width:300px;
  height:300px;
  margin:0px;
  margin-left:5px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-image: url(img/Josh.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.img-pro4 {
  flex-basis: 50%;
  max-width:300px;
  height:300px;
  margin:0px;
  margin-left:5px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-image: url(img/Matt.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.img-pro5 {
  flex-basis: 50%;
  max-width:300px;
  height:300px;
  margin:0px;
  margin-left:5px;
  margin-right: 0px;
  margin-bottom: 10px;
margin-top: 10px;
  background-image: url(img/Lars.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.img-pro6 {
  flex-basis: 50%;
  max-width:300px;
  height:300px;
  margin:0px;
  margin-left:5px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-image: url(img/Lars.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}


.teambox{
  margin:0px;
  margin-right: 5px;
  margin-left: 0;
  height: 300px;
  max-width: 300px;
  flex-basis: 50%;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: white;
}

.teambox h3 {
  background-color: rgb(116,109,109);
  color: white;
  padding: 5px;
  font-family: arial, sans-serif;
  font-size: 20px;
  margin:none;
  text-align: center;
  border-bottom: inherit;
}

.teambox p {
  font-family: arial, sans-serif;
  font-size:15px;
  padding:5px;
  text-indent: 5px;
  text-align: left;
}
